<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- font links -->
    <link
        href="https://fonts.googleapis.com/css?family=Changa:700|Exo:900|Kanit:700|Orbitron:900|Prompt:700|Rajdhani:700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/reset.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Jquery link -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
     </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
     </script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
         integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
     </script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
         integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
     </script>
     <script type="text/javascript" src="assets/javascript/game.js"></script>
 


    <title>STAR WARS RPG GAME</title>

</head>

<body>
    <Header>
        <div id="Header"><img id="title" src="assets/images/TITLE.png"></div>
    </Header>

    <div class=".container-fluid">

        <!-- Jedis and Enemies to choose area -->
        <div id="charactersArea">
            <div id="jediChoices">
                <h2>SELECT YOUR JEDI</h2>
                <div id="jediChoices">
                    <!-- character images will show here on reset function -->
                </div>
            </div>

            <div id="enemyChoices">
                <h2>ENEMIES TO ATTACK</h2>
                <div id="enemyChoices">

                    <!-- remainder of character images will show here on reset function after character is chosen-->

                    <button id="button-a" class="enemyOne"><img src=""></button>
                    <button id="button-b" class="enemyTwo"><img src=""></button>
                    <button id="button-c" class="enemyThree"><img src=""></button>
                    <button id="button-d" class="enemyFour"><img src=""></button>
                    <button id="button-e" class="enemyFive"><img src=""></button>

                </div>
                <!-- 
            <h2 id="sumNumber">Your total score: <span id="userNumber">0</span></h2> -->
            </div>

        </div>


        <!-- battle area -->
        <div id="wrapper">
            <hr style="border:0.5px solid white;" />
            <br>
            <div id="YourJedi">
                <h2>YOUR JEDI </h2>

                <div id="chosenJedi">
                    <!-- chosen jedi user clicked on will appear here dynamically -->
                </div>

                <h3 id="hp">HEALTH POINTS: <space id="JediHPPoints">0</space>
                </h3>

            </div>

            <div id="attackButtonArea">
                <!-- attack button area -->
                <button id="attackButton" class="attack">Attack!</button>
            </div>

            <div id="YourOpponent">
                <h2>YOUR OPPONENT</h2>

                <div id="chosenEnemy">
                    <!-- chosen enemy user clicked on will appear here dynamically -->
                </div>

                <h3 id="hp">HEALTH POINTS: <space id="enemyHPPoints">0</space>
                </h3>

            </div>

        </div>


        <!-- scoreboard area -->
        <div id="scoreBoard">
            <img class="boardGraphic" src="assets/images/scoreboard.png">

            <!-- text gets updated as game plays here -->
            <div id="scoreText">
                <h3 id="text">You attacked your opponent by <span id="attackPower">0</span> power!
                    <br>
                    Your opponent attacked you by <span id="counterAttackPower">0</span> power!</h3>
            </div>

            <div id="gameOverButton">
                <!-- game over button appears here when game is over  -->
            </div>
        </div>
    </div>

    <div id="push"></div>
    <div id="footer"></div>


    <!-- text scripts for dynamic character list div -->
    <script type="text/template" id="characterTemplate">
        <div class="characterListArea characterClick <%= background %>" data-character-index="<%= index %>">
            <img src="<%= character.visual %>">
            <p id="text">HEALTH POINTS:<%= character.healthPoints %></p>
    </script>


    <!-- text scripts for dynamic scoreBoard div -->
    <script type="text/template" id="attackTemplate">
        <div id="scoreText">
            <p id="text">
                You attacked <%=gameObj.currentEnemy.name : gameObj.lastOpponent.name %> for 
                <%=game.Obj.currentAttackPower %> power!
                <br>
                <% if (gameObj.currentEnemy) { %>
            <%= gameObj.currentEnemy.name %> counter attacked by <%= gameObj.currentEnemy.counterAttackPower %>.
        <% } %></p>
        </div>
    </script>

    <!-- text scripts for dynamic scoreBoard div when user defeated-->
    <script type="text/template" id="winTemplate">
        <div id="scoreText">
            <p id="text">
                You have defeated <%= lastOpponent.name %>, choose another enemy to fight!
            </p>
        </div>
    </script>

    <!-- text scripts for dynamic scoreBoard div when user lost-->
    <script type="text/template" id="lossTemplate">
        <div id="scoreText">
            <p id="text">
                <%= currentEnemy.name %> have defeated you!
            </p>
        </div>
    </script>

    <!-- text scripts for dynamic scoreBoard div when user won the game-->
    <script type="text/template" id="jediTemplate">
        <div id="scoreText">
            <p id="text">
                You have defeated <%= lastOpponent.name %>! You are a real Jedi Master!
            </p>
        </div>
    </script>



    <!-- linked scripts  -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="assets/javascript/app.js"></script>

</body>

</html>